:root {
  /* --header-footer-background: #130d48; */
  /* --header-footer-background: rgb(19 13 72 / 90%); */
  --header-footer-background: rgb(48 47 51 /90%); 
  --letter-color: #36a845;
  --hover-color: #36a845;
}

@font-face {
    font-family: 'Zuume';
    font-style: normal;
    font-weight: 900;
    src: url(../font/Zuume\ ExtraBold.ttf);
}



html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 90px 1fr 50px;
  grid-template-areas: "content";
  font-family: "Zuume", sans-serif;
}


#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  color: white;
}


.azul-container {
  background-color: blue;
}

.vermelho-container {
  background-color: red;
}